open cmd
<!DOCTYPE html>
<html>
  <head>
    <title>¡Hola</title>
  </head>
  <body>
    <h1>¡Hola Mundo!</h1>
    <p>Este es un párrafo básico.</p>
    <a href="youtube.com">Enlace a ejemplo</a>
  </body>
</html>